body {
    background-color: #555555;
}

.outerDiv {
    color: #fff;
    height: 100%;
    width: 1600px;
    margin: 0px auto;
}

.File_list {
    background-color: #EEE8AA;
    color: #000;
    height: 100%;
    width: 12%;
    float: left;
    border: 5px solid #555555;
}

.Stategies_list {
    background-color: #EEE8AA;
    color: #000;
    height: 100%;
    width: 23%;
    float: left;
    border: 5px solid #555555;
}

.Result_list {
    background-color: #EEE8AA;
    color: #000;
    height: 100%;
    width: 13%;
    float: left;
    border: 5px solid #555555;
}

.Chart_area {
    background-color: #EEE8AA;
    color: #000;
    height: 100%;
    width: 45%;
    float: left;
    border: 5px solid #555555;
}

.sep {
    background-color: #555555;
    height: 10px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

h3, h4 {
    font-family: Arial, Helvetica, sans-serif;
}